.code-area {
    width: 100%;
    position: relative;
    overflow: auto;
}

.code-input {
    font-family: Consolas;
    width: fit-content;
    resize: none;
    border: none;
    white-space: pre;
    padding: 5px;

    position: relative;
    color: transparent;
    caret-color: black;
}

.code-input-highlight {
    position: absolute;
    width: fit-content;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    user-select: none;
    padding: 5px;
    white-space: pre;
}

.code-line {
    font-family: Consolas;
}

.active-line {
    background: #defee6;
}

.error-line {
    background: #ffcccc;
}

.comment-code {
    color: #aaa;
}

.number-code {
    color: #00bcd4;
}

.label-code {
    color: #ff9800;
}

.jump-code {
    color: #4caf50;
}

.command-code {
    color: #2196f3;
}

.register-code {
    color: #9c27b0;
}
