.turing-tape {
    display: table;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 5px;
}

.turing-tape-cell {
    display: table-cell;
    font-family: Consolas;
    font-size: 18px;
    text-align: center;
    border: 1px solid #888;
    vertical-align: middle;
}

.turing-tape-lambda-cell {
    color: #ddd;
}

.turing-tape-current-cell {
    background: #b3e7ff;
}

.turing-states {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-family: Consolas;
    font-size: 18px;
}

.turing-states-row {
    display: table-row;
}

.turing-states-row:first-child {
    font-weight: bold;
}

.turing-states-cell {
    border: 1px solid #000;
    display: table-cell;
    min-width: 40px;
    padding: 5px;
    text-align: center;
}

.turing-states-active-cell {
    background: #b3e7ff;
}